<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Add/Update {{ForWhat}} {{item.password}} </span>
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
  </div>
  <form role="form" ng-submit="save()">
    <div class="modal-body text-center">
      <input type="hidden" id="id" ng-model="vm.id" value="{{item.id}}">
      <div class="form-group">
        <input type="text" class="form-control" id="firstname" ng-model="vm.firstName" placeholder="First Name" value="{{item.firstName}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="lastname" ng-model="vm.lastName" placeholder="Last Name" value="{{item.lastName}}">
      </div>
      <!-- <div class="form-group">
        <input type="text" class="form-control" id="compname"  ng-model="vm.compname" placeholder="Company Name" value="{{item.compname}}">
      </div> -->
      <div class="form-group">
        <input type="text" class="form-control" id="email" ng-model="vm.email" placeholder="Email" value="{{item.email}}">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" ng-model="vm.password" placeholder="Password" value="">
      </div>
      <div  class="form-group" >
        <select class="form-control" id="customer_id" ng-model="vm.customer" ng-options="cust.cId as cust.cName for cust in customers">
          <option value="">--Select Customer--</option>
          <!-- <option ng-repeat="u in users" value="{{u.cId}}" ng-html="{{u.cName}}">{{u.cName}}</option> -->
        </select>
      </div>
      <div class="form-group" >
        <select class="form-control" id="role" ng-model="vm.role">
          <option value="">--Select Role--</option>
          <option value="ROLE_USER" selected>User</option>
          <option value="ROLE_ADMIN">Admin</option>           
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" ng-click="$dismiss()">Cancel</button>
      <button type="submit" class="btn btn-success pull-right">Save</button>
    </div>
  </form>
</div>
