asdasd<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 admin-panel" ba-panel ba-panel-class="xmedium-panel">
    <div class="panel-heading clearfix" style="height: 50px;">
      <h3 class="panel-title pull-left" style="width: 90%">Users </h3>
      <button type="button" class="btn btn-default btn-icon pull-right" data-toggle="modal" ng-click="open('app/pages/sysadmin/manageUsers/addUser.html', 'Users', 'SaveUsersCtrl')">
        <i class="ion-plus-round"></i>
      </button>
    </div>
    <div class="horizontal-scroll">
    <p>
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th>Item</th>
          <th>Name</th>
          <th>Email Id</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in users" class="no-top-border ">
          <td ng-class="nowrap">{{item.id}}</td>
          <td class="align-left">{{item.firstName}} {{item.lastName}}</td>
          <td class="align-left">{{item.email}}</td>
          <td class="align-left">{{item.activated}}</td>
          <td class="align-center primary">
            <a href class="action-icon" value="{{item.id}}" ng-click="open('app/pages/sysadmin/manageUsers/addUser.html', 'Users', 'SaveUsersCtrl', item)"><i class="ion-edit"></i></a>
            <a href class="action-icon" value="{{item.email}}" ng-confirm-click="Sure you want to delete the record?"><i class="ion-trash-b"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>